window {
margin: 0px;
border: 1px solid #4900BF;
background-color: #090017;
}

#input {
margin: 5px;
border: none;
color: #d8dee9;
background-color: #090017;
}

#inner-box {
margin: 5px;
border: none;
background-color: #090017;
}

#outer-box {
margin: 5px;
border: none;
background-color: #130130;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #d8dee9;
}

#entry:selected {
background-color: #160138;
}
