window {
margin: 0px;
border: 1px solid #e2e2e2;
background-color: #010704;
}

#input {
margin: 5px;
border: none;
color: #d8dee9;
background-color: #000000;
}

#inner-box {
margin: 5px;
border: none;
background-color: #000000;
}

#outer-box {
margin: 5px;
border: none;
background-color: #171515;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #d8dee9;
}

#entry:selected {
background-color: #201e1e;
}
